---
layout: layout.liquid
title: Planetary Cards 
---
  <h1>Planetary Playing Cards</h1>
<main>
  
  <div class="planet-card" id="sun">
    <div class = "planet-img sun"></div>
    <p class = "planet-name">Sun</p>
    <p class ="planet-distance">Type G2V</p>
  </div>
  <div class="planet-card" >
    <div class = "planet-img mercury"></div>
    <p class = "planet-name">Mercury</p>
    <p class ="planet-distance">0.4 AU</p>
  </div>
  <div class="planet-card">
    <div class = "planet-img venus"></div>
    <p class = "planet-name">Venus</p>
    <p class ="planet-distance">0.7 AU</p>
  </div><div class="planet-card ">
    <div class = "planet-img earth"></div>
    <p class = "planet-name">Earth</p>
    <p class ="planet-distance">1.0 AU</p>
  </div><div class="planet-card">
    <div class = "planet-img mars"></div>
    <p class = "planet-name">Mars</p>
    <p class ="planet-distance">1.5 AU</p>
  </div><div class="planet-card">
    <div class = "planet-img jupiter"></div>
    <p class = "planet-name">Jupiter</p>
    <p class ="planet-distance">5.2 AU</p>
  </div><div class="planet-card">
    <div class = "planet-img saturn"></div>
    <p class = "planet-name">Saturn</p>
    <p class ="planet-distance">9.6 AU</p>
  </div><div class="planet-card">
    <div class = "planet-img uranus"></div>
    <p class = "planet-name">Uranus</p>
    <p class ="planet-distance ">19.2 AU</p>
  </div><div class="planet-card ">
    <div class = "planet-img neptune"></div>
    <p class = "planet-name">Neptune</p>
    <p class ="planet-distance">30.0 AU</p>
  </div>
</main>
